.board,
.winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winner {
    font-size: 6em;
}

.row {
    display: flex;
}
